In [7]:
import numpy as np 
import pandas as pd
import sqlite3

In [9]:
# filmes = pd.read_csv('./data/filmes.csv', sep=',')
# ratings = pd.read_csv('./data/ratings.csv', sep=',')
filmesList = []
ratingsList = []    
conn = sqlite3.connect('filmes.db')
cur = conn.cursor()
for row in cur.execute('SELECT * FROM FILMES'):
    filmesList.append(row)
    
for row in cur.execute('SELECT * FROM RATINGS'):
    ratingsList.append(row)
conn.commit()
conn.close()    
ratingsdf = pd.DataFrame(ratingsList, columns=['userId', 'movieId', 'rating'])
filmesdf = pd.DataFrame(filmesList, columns=['movieId', 'title', 'genres', 'year'])

In [10]:
df = filmesdf.merge(ratingsdf, on='movieId')
df.head()

,movieId,title,genres,year,userId,rating
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,1,4.0
1,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,5,4.0
2,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,7,4.5
3,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,15,2.5
4,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,17,4.5

In [12]:
tabelaFilmes = df.pivot_table(index='title', columns='userId', values='rating').fillna(0)
tabelaFilmes.head()

userId,1,2,3,4,5,6,7,8,9,10,...,602,603,604,605,606,607,608,609,610,654
title,,,,,,,,,,,,,,,,,,,,,
'71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
'Hellboy': The Seeds of Creation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
import sklearn.metrics.pairwise as pw

In [ ]:
recomendacoes = pw.cosine_similarity(tabelaFilmes)
recomendacoes = pd.DataFrame(recomendacoes, index=tabelaFilmes.index, columns=tabelaFilmes.index)
recomendacoes[''].sort_values(ascending=False).head(10)

KeyError: 'Fast & Furious'